### Задание 1

In [82]:
word = input('Введите слово: ')
syllable = int(len(word) / 2)

if len(word) % 2 == 0:
    print(f'Ваш результат: {word[syllable-1:syllable+1]}')
else:
    print(f'Ваш результат: {word[syllable]}')

Введите слово: test
Ваш результат: es

### Задание 2

In [290]:
numbers = []

while True:
    number = float(input('Введите число: '))
    if number != 0:
        numbers.append(number)
        continue
    elif number == 0:
        print(sum(numbers))
        break

Введите число: 2
Введите число: 3
Введите число: 0
5.0

### Задание 3

In [561]:
#boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard','Michael']
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

if len(boys[0:]) == len(girls[0:]):
    print('Идеальные пары: ')
    for boy, girl in zip(sorted(boys), sorted(girls)): 
        print(f' {boy} и {girl} ')
else:
    print('Внимание, кто-то может остаться без пары!')

Идеальные пары:
 Alex и Emma
 Arthur и Kate
 John и Kira
 Peter и Liza
 Richard и Trisha

### Задание 4

In [709]:
countries_temperature = [
['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany', [57.2, 55.4, 59, 59, 53.6]],
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]]

for temperature in countries_temperature:
    average_temperature = [sum(temperature[1]) / len(temperature[1])]      
    
    for celsius_temperature in average_temperature:
        celsius_temperature = round((celsius_temperature - 32) / 1.8, 1)
        
    print(f'{temperature[0]} - {celsius_temperature} C')

Thailand - 23.9 C
Germany - 13.8 C
Russia - 3.7 C
Poland - 12.0 C

### Заданиее 5

In [763]:
streams = [
'2018-01-01,user1,3',
'2018-01-07,user1,4',
'2018-03-29,user1,1',
'2018-04-04,user1,13',
'2018-01-05,user2,7',
'2018-06-14,user3,4',
'2018-07-02,user3,10',
'2018-03-21,user4,19',
'2018-03-22,user4,4',
'2018-04-22,user4,8',
'2018-05-03,user4,9',
'2018-05-11,user4,11'
]

users_list = []
views_list = []

for stream in streams:
    splitted_stream = stream.split(',')
    user = splitted_stream[1]
    views = splitted_stream[2]
    if user not in users_list:
        users_list.append(user)
        views_list.insert(users_list.index(user), [int(views)]) 
    else:
        views_list[users_list.index(user)] += [int(views)]
        
sum_views_list = sum(views_list, [])  
print(f'Среднее количество просмотров на уникального пользователя: {sum(sum_views_list) / len(views_list[0:])} ')

Среднее количество просмотров на уникального пользователя: 23.25

### Задание 6

In [789]:
words = input('Введите число ')
#word_list = words.split()
word_list = []

for word in words.split():    
    if word not in word_list:
        word_list.append(word)
print(''.join(word_list))

Введите число 1 1 3 3 4 4
134