In [15]:
import pandas as pd
import re

### Задание 1

In [33]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [34]:
def ratings_movies(param):
      
    if int(param) <= 2:

        return 'Низкий рейтинг'
               
    elif int(param) <= 4 and int(param) > 2:
        
        return 'Средний рейтинг'
    
    elif int(param) > 4:
        
        return 'Высокий рейтинг'

In [35]:
ratings['class'] = ratings['rating'].apply(ratings_movies)
ratings.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144   Низкий рейтинг
1       1     1029     3.0  1260759179  Средний рейтинг
2       1     1061     3.0  1260759182  Средний рейтинг
3       1     1129     2.0  1260759185   Низкий рейтинг
4       1     1172     4.0  1260759205  Средний рейтинг

#### Проверка

In [92]:
ratings_check = ratings[['rating','class']]
print(ratings_check['class'].unique())

['Низкий рейтинг' 'Средний рейтинг' 'Высокий рейтинг']

### Задание 2

In [52]:
keywords = pd.read_csv('keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [53]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [54]:
def geo_classificator(row):
    
    keyword_set = set(re.split(r'[\;\,\. ]', row['keyword'].lower()))

    for region, city_list in geo_data.items():
        if keyword_set & set(city_list):
             return region
        
    return 'undefined'

In [55]:
keywords['region'] = keywords.apply(geo_classificator, axis=1)
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

#### Проверяем количество поисков регионов

In [56]:
keywords.groupby('region').count().reset_index()[['region','keyword']]

           region  keyword
0       undefined    99406
1  Дальний Восток       64
2    Северо-Запад      146
3           Центр      384